
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit.
<br />Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
<br />Cras vel lorem. Etiam pellentesque aliquet tellus.
<br />Phasellus pharetra nulla ac diam.
<br />Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
